@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: var(--color-slate-50);
  --foreground: var(--color-slate-800);
  --card: var(--color-slate-100);
  --card-foreground: var(--color-slate-800);
  --popover: var(--color-slate-100);
  --popover-foreground: var(--color-slate-800);
  --primary: var(--color-slate-900);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-slate-600);
  --secondary-foreground: var(--color-white);
  --muted: var(--color-slate-200);
  --muted-foreground: var(--color-slate-500);
  --accent: var(--color-slate-200);
  --accent-foreground: var(--color-slate-800);
  --destructive: var(--color-red-400);
  --border: var(--color-slate-300);
  --input: var(--color-slate-300);
  --ring: var(--color-slate-500);
  --chart-1: var(--color-red-400);
  --chart-2: var(--color-green-400);
  --chart-3: var(--color-blue-400);
  --chart-4: var(--color-yellow-400);
  --chart-5: var(--color-purple-400);
  --sidebar: var(--color-slate-100);
  --sidebar-foreground: var(--color-slate-800);
  --sidebar-primary: var(--color-slate-900);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-slate-200);
  --sidebar-accent-foreground: var(--color-slate-800);
  --sidebar-border: var(--color-slate-300);
  --sidebar-ring: var(--color-slate-500);
}

.dark {
  --background: var(--color-zinc-900);
  --foreground: var(--color-zinc-300);
  --card: var(--color-zinc-800);
  --card-foreground: var(--color-zinc-300);
  --popover: var(--color-zinc-800);
  --popover-foreground: var(--color-zinc-300);
  --primary: var(--color-zinc-300);
  --primary-foreground: var(--color-zinc-900);
  --secondary: var(--color-zinc-600);
  --secondary-foreground: var(--color-zinc-900);
  --muted: var(--color-zinc-700);
  --muted-foreground: var(--color-zinc-400);
  --accent: var(--color-zinc-600);
  --accent-foreground: var(--color-zinc-300);
  --destructive: var(--color-red-600);
  --border: var(--color-zinc-600);
  --input: var(--color-zinc-500);
  --ring: var(--color-zinc-400);
  --chart-1: var(--color-red-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-blue-500);
  --chart-4: var(--color-yellow-500);
  --chart-5: var(--color-purple-500);
  --sidebar: var(--color-zinc-800);
  --sidebar-foreground: var(--color-zinc-300);
  --sidebar-primary: var(--color-zinc-300);
  --sidebar-primary-foreground: var(--color-zinc-900);
  --sidebar-accent: var(--color-zinc-700);
  --sidebar-accent-foreground: var(--color-zinc-300);
  --sidebar-border: var(--color-zinc-600);
  --sidebar-ring: var(--color-zinc-400);
}

/* Custom colors */
:root {
  --correct-color: var(--color-green-400);
  --n5-color: var(--color-red-300);
  --n4-color: var(--color-blue-300);
  --n3-color: var(--color-green-300);
  --n2-color: var(--color-amber-200);
  --n1-color: var(--color-fuchsia-300);
}
.dark {
  --correct-color: var(--color-green-500);
  --n5-color: var(--color-red-700);
  --n4-color: var(--color-blue-700);
  --n3-color: var(--color-green-700);
  --n2-color: var(--color-amber-700);
  --n1-color: var(--color-fuchsia-700);
}

@theme inline {
  --color-correct: var(--correct-color);
  --color-n5: var(--n5-color);
  --color-n4: var(--n4-color);
  --color-n3: var(--n3-color);
  --color-n2: var(--n2-color);
  --color-n1: var(--n1-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  a,
  button {
    @apply cursor-pointer;
  }
}
